<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p style="text-align: justify">
      Tradisco plays a critical role in the responsible sourcing and trading of
      natural resources, ensuring ethical, sustainable, and profitable
      transactions.
    </p>
    <ol>
      <li>
        <p style="text-align: justify">
          Minerals & Metals <br />
          Supplying industries with essential materials for construction,
          energy, and high-tech applications.
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          Renewable Energy Resources <br />
          Expanding trade in biofuels, sustainable timber, and green energy
          solutions.
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          TAC (Technical Assistance Contract)<br />SPBU TAC adalah bentuk
          kerjasama di mana Pertamina Retail memberikan dukungan teknis dan
          operasional kepada pemilik SPBU yang mengelola usahanya sendiri. Dalam
          hal ini, Pertamina Retail tidak memiliki kepemilikan pada aset SPBU,
          tetapi memberikan bantuan teknis, pelatihan, dan dukungan operasional
          untuk memastikan standar pelayanan, serta memastikan kualitas dan
          pasokan BBM sesuai standar operasional tetap terpenuhi.<br />&nbsp;
        </p>
      </li>
      <li>
        <p style="text-align: justify">
          CODO (Company Owned Dealer Operated)<br />Pada model CODO, Pertamina
          memiliki aset SPBU namun operasional sehari-hari dikelola oleh pihak
          ketiga (dealer). Dealer bertindak sebagai mitra yang mengoperasikan
          SPBU sesuai dengan standar yang ditetapkan Pertamina. Dalam hal ini,
          Pertamina tetap memasok BBM dan memastikan kualitas layanan, sementara
          dealer memperoleh keuntungan dari hasil penjualan BBM dan produk
          lainnya.<br />&nbsp;
        </p>
      </li>
    </ol>
    <p style="text-align: justify">
      Dengan berbagai skema ini, Pertamina Retail bisa lebih fleksibel dan cepat
      beradaptasi dengan kebutuhan pasar, sekaligus memberikan kesempatan kepada
      mitra untuk berkembang.
    </p>
  </body>
</html>
