@use "./typography.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.dont-reset {
  ul,
  ol {
    list-style: inherit !important;
    margin-left: 16px;
  }
}

.leaflet-control-container {
  display: none !important;
}
.leaflet-container {
  width: 100wh;
  // height: 100vh;
}

.lefleat-spbu-marker {
  left: -10px !important;
  top: -28px !important;
}
.leaflet-popup-content {
  margin: 0px !important;
}
.leaflet-popup-content-wrapper {
  border-radius: 5px !important;
}
.leaflet-popup-close-button {
  display: none !important;
}

.hide-default-scrollbar {
  overflow: auto; /* Ensure scrolling is still functional */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
  -ms-overflow-style: none; /* Hides scrollbar for Internet Explorer and Edge */

  &::-webkit-scrollbar {
    /* Hides scrollbar for Webkit browsers (Chrome, Safari) */
    display: none;
  }
}
.nav-mobile-accordion-item {
  button {
    text-align: center;
    .lucide {
      display: none;
    }
  }
}

.news-card {
  background: linear-gradient(73.38deg, rgba(0, 0, 0, 0.8) 11.57%, rgba(0, 0, 0, 0.2) 86.46%);
}

.bussiness-card {
  background: linear-gradient(90.55deg, rgba(18, 18, 18, 0.82) 0.55%, rgba(45, 45, 45, 0) 100.75%);
}

.bussiness-card-active {
  background: linear-gradient(90.55deg, rgba(0, 92, 171, 0.82) 0.55%, rgba(0, 37, 69, 0) 100.75%);
}

.banner-pagination {
  .swiper-pagination-bullet {
    margin: 0px !important;
    position: relative;
    bottom: 0px !important;
    width: 80px;
    height: 4px;
    text-align: left;
    border-radius: 0;
    opacity: 1;
    margin-right: 0px;
    background-color: transparent;
    em {
      font-size: 15px;
      line-height: 28px;
      font-weight: bold;
      letter-spacing: -0.38px;
      color: #d9d9d9;
    }
    i {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 4px;
      background-color: #d9d9d9;
      //progress bar 배경
    }
    b {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      width: 0%;
      height: 4px;
      background-color: #1aac29;
      //progress bar 채워지는 부분
    }
  }
  .swiper-pagination-bullet-active {
    background-color: transparent;
    b {
      animation-name: countingBar;
      animation-duration: 6s; //autopaly 시간과 맞춰주기
      animation-timing-function: ease-in;
      animation-iteration-count: 1;
      animation-direction: alternate;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes countingBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

